</div>
<div id="footer">
    <div style="width:95%">
        YelpCamp <span style="display:inline-block; padding-right:25px"></span> ©Kshitiz  
    </div>
</div>
<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/main.js"></script>
</body>
</HTML>